body{
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(rgb(10, 10, 10),rgb(9, 9, 85)); */

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




form{
    text-align: center;
    width: 350px;
    height: 390px;
    margin: 150px auto;
    padding: 10px;
    background: rgba(12, 21, 53, 0.315);
    box-shadow: 0 0 5px 2px rgba(0, 38, 255, 0.603);
    position: relative;
}



img{
    
    position: absolute;
    top: -50px;
    left: 120px;
    width: 120px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(30, 58, 216, 0.932); 
}

h2{
    font-size: 40px;
    letter-spacing: 3px;
    color: rgb(243, 243, 252);
    text-align: center;
    margin-top: 80px;
}

input{
    width: 80%;
    height: 28px;
    margin: 8px auto;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 60, 255);
    color: rgb(255, 245, 245);
    font-size: 17px;
    outline: none;
}

::placeholder{
    color: rgba(255, 255, 255, 0.719);
}
button{
    font-size: 21px;
    width: 100px;
    height: 45px;
    border: none;
    background-color: rgb(18, 50, 190);
    color: white;
    border-radius: 20px;
    margin: 43px;
    transition: 0.3s;

}
button:hover{
    background-color: rgb(8, 21, 83);
    transform: scale(1.2,1.1);  
}





















div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: cyan;
    box-shadow: 0 0 10px 3px cyan;
    
}

nav{
    
   display: flex;
   justify-content: space-around; 
   
}
.a{
    animation: x 5s infinite linear;
}
.z{
    animation: x 3s infinite linear;
}
.e{
    animation: x 11s infinite linear;
}
.r{
    animation: x 6s infinite linear;
}
.t{
    animation: x 9s infinite linear;
}
.y{
    animation: x 7s infinite linear;
}
.u{
    animation: x 4s infinite linear;
}
.i{
    animation: x 10s infinite linear;
}

@keyframes x{
0%{ transform: translate(0,0px);}

50%{ transform: translate(0,-572px);
opacity: 0.1;}

100%{ transform: translate(0,0px);}
}



@keyframes w{
0%{transform: rotate(0deg);}   
50%{transform: rotate(180deg);}   
100%{transform: rotate(0deg);}   

}

aside{
    border: 2px solid rgba(255, 0, 0, 0);
    width: 450px;
    height: 600px;
    margin: 0px auto;
    position: relative;
}
.hamid{
    width: 100px;
    height: 100px;
    border-right: 5px solid rgb(11, 210, 245);
    border-bottom: 5px solid rgb(12, 67, 247);
    border-radius: 50%;
    position: absolute;
    top: 450px;
    left: 10px;
    opacity: 0.5;
    animation: w 0.5s infinite linear;

}

.section1{
    width: 90px;
    height: 90px;
    background-color: rgb(0, 255, 255);
    box-shadow: 0 0 100px 20px rgb(0, 255, 242);
    border-radius:30px ;
    position: absolute;
    left: 20px;
    top: 130px;
    animation: section 1s infinite;
}
.section2{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 255, 255);
    box-shadow: 0 0 100px 20px rgb(0, 255, 242);
    border-radius:50%;
    position: absolute;
    top: 380px;
    right: -100px;
    animation: section 1s infinite;
}
@keyframes section{

0%{padding:0;  }
50%{padding:5px; }
100%{padding:0; }
}

